<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hello world</title>
  <script src="../dist/index.js"></script>
</head>

<body>
  <div id="app">
    <div v-for="item in arrayTest" v-if="cur == item" @click="handleClick"> {{ item }} </div>
  </div>
  <script>
    var arr = []
    for (var index = 0; index < 5; index++) {
      arr.push(index)
    }
    var vm = new Ame({
      el: '#app',
      data: {
        arrayTest: arr,
        model: false,
        cur: 1
      },
      mounted: function() {
        console.log(this, 'this')
      },
      methods: {
        handleChange: function(val){
          console.log(val, '勾选')
        },
        handleClick: function(){
          this.cur = 2
          console.log(this.cur, 'cur')
        }
      }
    })
  </script>
</body>

</html>