<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hello world</title>
  <script src="../ame.js"></script>
</head>

<body>

  <div id="app">
    <span v-for="item in arrayTest">
      <input type="checkbox" v-model="model" @change="handleChange">
      {{ item }}
    </span>
    
  </div>

  <script>
    var arr = []
    for (var index = 0; index < 2000; index++) {
      arr.push(index)
    }
    var vm = new Ame({
      el: '#app',
      data: {
        arrayTest: arr,
        model: false
      },
      methods: {
        handleChange(val){
          console.log(val, '勾选')
        }
      },
    })
  </script>
</body>

</html>