<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hello world</title>
  <script src="../dist/index.js"></script>
</head>

<body>

  <div id="app">
    <input v-model="model1" @input="handleChange" />
    <!-- <input type="checkbox" v-model="model" @change="handleChange" @click="handleClick"> -->
    <span v-for="item in arrayTest">
      <input type="checkbox" v-model="model" @change="function(){}" @click="handleClick">
      {{ item }}
    </span>

  </div>

  <script>
    console.log(window)
    var arr = []
    for (var index = 0; index < 100; index++) {
      arr.push(index)
    }
    var vm = new Ame({
      el: '#app',
      data: {
        arrayTest: arr,
        model1: '1',
        model: false
      },
      methods: {
        handleChange: function (event) {
          console.log(event, '勾选')
          event.stopPropagation();
        },
        handleClick: function (event) {
          console.log('点击', this.model)
          event.stopPropagation();
        }
      }
    })
  </script>
</body>

</html>